<form method="GET" action="/page/login" >
    <label for="username" >Username</ label>
    <br>
    <input type="text" name="username" placeholder ="Insert your username" >
    <br>
    <label for="password" >Password</ label>
    <br>
    <input type="password" name="password" placeholder ="Insert your password" >
    <br>
    <label for="email" >Email</ label>
    <br>
    <input type="email" name="email" placeholder ="Insert your email" >
    <br>
    <button type="submit" >Register</ button>
    </form>