<!DOCTYPE html>
<html>
    <%- include('partials/head'); %>
    <body>
        <%- include('partials/navbar'); %>
        <div class="container m-4">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">name</th>
                        <th scope="col">player1</th>
                        <th scope="col">result</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% hasil.forEach(i => { %>
                    <tr>
                        <th scope="row"><%= i.id %></th>
                        <td><%= i.name %></td>
                        <td><%= i.player1 %></td>
                        <td><%= i.result %></td>
                    </tr>
                    <% }) %>
                    </tbody>
            </table>
        </div>
    </body>
</html>